body {
	background-color: #fff;
}

p {
	color: #888;
	font-size: 20px;
	font-family: Helvetica;
	display: inline-block;
}

h1 {
	color: #555;
	font-size:60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	color: #999;
	font-family: Helvetica;
	margin-bottom: -20px;
}

.choice {
	display: inline-block;
	background-color: #ccc;
	color: #555;
	width: 60px;
	height: 30px;
	padding-top: 11px;
	padding-left: 8px;
	font-family: Helvetica;
	margin-right: 3px;
	border-radius: 2px;
}

.choice:hover {
	background-color: #ddd;
}

/* buttons */
#all {
	padding-left: 35px;
	width: 50px;
}

#greg {
	padding-left: 25px;
	width: 60px;
}

#sara {
	padding-left: 25px;
	width: 60px;
}

#neither {
	padding-left: 20px;
	width: 70px;
}